<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/2" (click)="onSidenavClose()">
    <mat-icon>account_box</mat-icon> <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <mat-icon>comment</mat-icon> <span class="nav-caption">Data</span>
  </a>
  <a mat-list-item routerLink="/4" (click)="onSidenavClose()">
    <mat-icon>build</mat-icon> <span class="nav-caption">Settings</span>
  </a>
</mat-nav-list>