<div class="app-div">
    <h1>Hello</h1>
    <p>
        component1 works!
    </p>
    <section>
        <mat-slide-toggle>Slider 1</mat-slide-toggle>
    </section>
    <section>
        <mat-slide-toggle>Slider 2</mat-slide-toggle>
    </section>
    <section>
        <mat-slide-toggle>Slider 3</mat-slide-toggle>
    </section>
    <h3>
        Operating system information
    </h3>
    <p>Arc {{arch}}</p>
    <p>Hostname {{hostname}}</p>
    <p>Platform {{platform}}</p>
    <p>Release {{release}}</p>
    
</div>
