<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">{{title}}</h1>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="clickDevTools()"><mat-icon>more_vert</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="0">
      <mat-sidenav #sidenav mode="over" fixedTopGap="56">
        <app-navlist (sidenavClose)="sidenav.close()"></app-navlist>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>